.qubitLine{
    display: flex;
    flex-direction: row;
}

.parent {
    position: relative;
}

.children {
   position: absolute;
   top: 0;
   left: 0;
}

h2 {
    color: white;
    font-size: larger;
}