.Circuitboard {
  background-color: #22252b;
  padding: 1rem;
  padding-left: 4rem;
  
}

.circuit {
  max-height: calc(7 * 4rem); /* Adjust as needed based on the height of a single ket-line */
  background-color: #22252b;
  padding: 1rem;
}

.qubitLine {
    padding: 0.1rem;
    display: flex;
    align-items: center;
    background-color: #24272e;
}

p {
    color: white;
    font-size: larger;
}

hr {
    width: 80%;
    margin-inline-start: 2.5rem;
    color: white;
    position: absolute;
  }

button {
  background-color: #1A1A1A;
  color: white;
  cursor:pointer;
  font-size: larger;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #fff;
  background-color: #080808;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.slot-container {
    display: flex;
    width: 80%;
    margin-left: 1rem;
    z-index: 1;
}

.slot-container > * {
    background-color: transparent;
    height: 50px;
    width: 50px;
    margin-left: 0.75rem;
    
}

.slot-container > *:hover {
   background-color: #1d2025;
}

Slot {
  position: absolute;
  z-index: 10;
}
