# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/copilot/chatSessions/00000000000.xd
/aws.xml
/copilot/chatSessions/blobs/version
/copilot/chatSessions/xd.lck
