.gate-object{
    color: white;
    font-size: x-large;
    border: 2px solid white;
    text-align: center;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.gates {
    width: 10%;
    display: grid;
    grid-template-columns: auto auto;
}
